<h1 class="text-center">Welcome to your Activity Tracker.</h1>

<div class="col-md-12">

	<h3>Your tracked activities:</h3>

	<table class="table">
	<% if @activities.any? %>
			<% @activities.each do |activity| %>
					<tr>
						<td><%= activity.name %>  [<%= activity.units %>]</td>
						<td><%= link_to "Add Entry", new_activity_entry_path(activity)   %></td>
						<td><%= link_to "Show Entries", [activity.user, activity] %></td> 
						<td><%= link_to "Delete", [activity.user, activity], method: :delete, data: {confirm: "Are you sure?"}, class: "text-danger" %></td>
					</tr>
			<% end %>
	<% else %>
		<tr>
			<td>You aren't tracking any activities!</td>
			<td></td>
		  <td></td>
		</tr>
	<% end %>
	<tr>
		<td><%= link_to "Add New Activity", new_user_activity_path(current_user) %></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	</table>
</div>
