<div class="col-md-5">
		<h3>Entries (<%= @entries.count %>) </h3>
		<%= will_paginate @entries, inner_window: 0, outer_window: 0, previous_label: "<<", next_label: ">>"	%>
	<table class="table table-striped">	
		<thead>
			<tr>
				<th scope="col">Date</td>
				<th scope="col">Amount</td>
				<th scope="col"></td>
				<th scope="col"></td>
			</tr>
		</thead>
		<tbody>
			<% if @entries.any? %>
				<% @entries.each do |entry| %>
					<tr>
						<td><%= entry.date %></td>
						<td id="entry_<%= entry.id %>"><%= entry.units %>	[<%= @activity.units %>]</td>
						<td class="edit_entry_<%= entry.id %>"><%= link_to "Edit", edit_activity_entry_path(entry.activity, entry), remote: true %></td>
						<td><%= link_to "Delete", [entry.activity, entry], 
							method: :delete,		
							class: "text-danger",
							data: {confirm: "Are you sure?" }%></td>
					</tr>
				<% end %>
			<% else %>
				<tr>
					<td>You don't have any entries!</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
<div class="col-md-7">
	<br>
		<h3 class="text-center">Last Week's Data</h3>
		<%= line_chart @plot_data, xtitle: "Date", ytitle: @activity.units %>
<table class="table">
	<tr>
		<% @entries.last(7).each do |entry| %>
		<td class="text-center">
			<%= entry.date.strftime("%a") %>
		</td>
		<% end %>
		</tr>
		<tr>
		<% @entries.last(7).each do |entry| %>
		<td class="text-center">
			<%= entry.units %>
		</td>
		<% end %>		
		</tr>
</table>
</div>


