<div class="col-md-4">
<h3><%= @activity.name %></h3>
	<table class="table">
		<tr>
			<td><%= link_to "New Entry", new_activity_entry_path(@activity) %></td>
			<td><%= link_to "Edit", edit_activity_path(@activity) %></td>
			<td><%= link_to "Delete Activity", user_activity_path(current_user,@activity), method: :delete, data: { confirm: "Are you sure?" } %></td>
		</tr>
	</table>
</div>

	<table class="table">
	<% if @entries.any? %>
			<% @entries.each do |entry| %>
					<tr>
						<td><%= entry.date %></td>
						<td><%= entry.units %>  [<%= @activity.units %>]</td>
						<td><%= link_to "Delete", [entry.activity, entry], method: :delete %></td>
					</tr>
			<% end %>
	<% else %>
		<tr>
			<td>You don't have any entries!</td>
			<td></td>
		  <td></td>
		</tr>
	<% end %>
	</table>
	<div id="chartContainer">
		<%= line_chart @plot_data, xtitle: "Date", ytitle: @activity.units %>
	</div>
